## we ignore the files that we copy from the actual project
## as they aren't required separetly in the Tests project
platform.js
stacktrace.js
Gibraltar.Agent.Angular.js
Gibraltar.Agent.NativeScript.js